VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=first-auth-app-project.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=first-auth-app-project
VITE_FIREBASE_STORAGE_BUCKET=first-auth-app-project.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=956639761791
VITE_FIREBASE_APP_ID=1:956639761791:web:b453f88c306ba35cba364a
VITE_FIREBASE_MEASUREMENT_ID=G-T3C10RN98R

VITE_API_BASE_URL=
VITE_ADMIN_FIREBASE_UID=
VITE_ENABLE_GUEST_LOGIN=false
PING_ON=true